<img id="home-image" src="../../../assets/computer-1209641_1920.jpg" alt="home-image">
<section class="category-section" id="portfolio">
    <div class="left-container">
        <h2 class="category-title">Portfolio</h2>
        <article id="portfolio-art">I've been learning how to code since early's two years ago... all by my own, i'm trying to do my best to put all of me in every work i do, in every project i've made, but this is just the beggining, there is a world out there, a hole world of possibilities, and, who knows... if steve jobs created and coded apple in his garage, everything is possible, right? This work you see here were my favorites, in the creation, and in the result, here i started looking for my own style and i think i've found it! They're ordered by the amount of views they had in codepen where i've coded them, but, honestly my favorite one was the drum machine, i feel like it screems Maria Arias all over the place, it has a lot of me in less lines of code, and definitely it's a 100% my style, i'm pretty happy about how that project ended, click on the see more banner to take a look at other projects i'd done so far, i hope you like it!</article>
    </div>
    <div class="right-container">
        <div id="grid-container">
            <div id="portfolio-grid">
                <div class="portfolio-item" id="port-1">
                    <img class="portfolio-item-img" src="../../../assets/Pomodoro.png" alt="portfolio-pomodoro">
                    <div class="home-links-container">
                        <a class="home-links" href="#">Pomodoro Website <i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="portfolio-item" id="port-2">
                    <img class="portfolio-item-img" src="../../../assets/Calculator.png" alt="portfolio-calculator">
                    <div class="home-links-container">
                        <a class="home-links" href="#">Calculator Website <i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="portfolio-item" id="port-3">
                    <img class="portfolio-item-img" src="../../../assets/Drum.png" alt="portfolio-drum">
                    <div class="home-links-container">
                        <a class="home-links" href="#">Drum Machine <i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="portfolio-item" id="port-4">
                    <img class="portfolio-item-img" src="../../../assets/Chart.png" alt="chart-drum">
                    <div class="home-links-container">
                        <a class="home-links" href="#">Bar Chart <i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div> 
        </div>
        <div class="see-more-container">
            <a href="/portfolio/index" class="see-more">See more <i class="fa fa-link"></i></a>
        </div>
    </div>
</section>
<section class="category-section" id="about">
    <div class="left-container">
      <h2 class="category-title">About me</h2>  
      <div id="my-picture-container">
        <img id="my-picture" src="../../../assets/UNADJUSTEDNONRAW_thumb_107.jpg" alt="my picture">
      </div>
    </div>
    <div class="right-container">
      <article id="about-art">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nesciunt ipsam in quae qui asperiores magnam aliquam dolorum corporis tempora cumque quis ipsa vel, quisquam <br><br> veritatis sunt voluptatibus nulla quasi ab eveniet laudantium sint suscipit quos. Fugit repudiandae sapiente omnis voluptates. Deserunt itaque nesciunt illo voluptas alias ab tempora error qui rem. Praesentium, ullam. Sunt rerum obcaecati minima temporibus quos? Vitae voluptates id consequatur hic <br><br> numquam harum molestiae quia odit molestias sunt quidem obcaecati similique sit voluptatum dolor, vero cumque dolorum, deleniti accusamus explicabo quam soluta? Eaque expedita obcaecati non quas eius consectetur doloremque, deserunt magni accusamus quisquam blanditiis ullam?</article>
      <div class="see-more-container">
        <a href="/about/index" class="see-more">See more <i class="fa fa-link"></i></a>
      </div>
    </div>
    
</section>
<section class="category-section" id="contact">
    <div class="left-container">
        <h2 class="category-title">Contact me</h2>
    </div>
    <div id="contact-bottom" class="right-container">
        <div class="banner">
            <div class="icon-container">
                <i class="fa fa-envelope"></i>
            </div>
            <p>Email me!</p>
        </div>
        <div class="banner">
            <div class="icon-container">
                <i class="fa fa-phone"></i>
            </div>
            <p>Call me!</p>
        </div>
        <div class="banner">
            <div class="icon-container">
               <i class="fa fa-hashtag"></i> 
            </div>
            <p>Follow me!</p>
        </div>
        
    </div>
    <div class="see-more-container" id="see-more-contact">
        <a class="see-more" href="/contact/index">See more <i class="fa fa-link"></i></a>
    </div>
</section>
