<div id="content-container">
    <div id="portfolio-grid-container">
        <div id="grid-port-container">
            <div class="portfolio-grid-item" id="portorig-1">
                <div class="img-and-link">
                    <img class="portfolio-grid-img" src="../../../assets/Pomodoro.png" alt="portfolio grid item img" srcset="">
                    <div class="see-more-container">
                        <a href="#" class="see-more">View in CodePen <i class="fa fa-link"></i></a>
                    </div>
                </div>
                <article class="portfolio-grid-article">This is a Pomodoro Clock, Pomodoro is the name of a thecnique which helps to keep you focused in the activity you're doing by setting specific set of times, one set for the activity which is the largest and another set for a break. I've made it using JS, React, Html and CSS. </article>
            </div>
            <div class="portfolio-grid-item" id="portorig-2">
                <div class="img-and-link">
                    <img class="portfolio-grid-img" src="../../../assets/Calculator.png" alt="portfolio grid item img" srcset="">
                    <div class="see-more-container">
                        <a href="#" class="see-more">View in CodePen <i class="fa fa-link"></i></a>
                    </div>
                </div>
                <article class="portfolio-grid-article">This is a Calculator, it was a very difficult project, one of the hardest thing i'd to do, was the logic, specifically the one that checks the decimal points, and displays the operations on the screen, but, i'm very happy with the result though, i've made it using JS, CSS and Html.</article>
            </div>
            <div class="portfolio-grid-item" id="portorig-3">
                <div class="img-and-link">
                    <img class="portfolio-grid-img" src="../../../assets/Drum.png" alt="portfolio grid item img" srcset="">
                    <div class="see-more-container">
                        <a href="#" class="see-more">View in CodePen <i class="fa fa-link"></i></a>
                    </div>
                </div>
                <article class="portfolio-grid-article">This is a Drum Machine, when you type the letters that appear in the drum, it plays sounds. It's one of my best projects, also one of my favorites, i've made it using CSS, JS, Html and React</article>
            </div>
            <div class="portfolio-grid-item" id="portorig-4">
                <div class="img-and-link">
                    <img class="portfolio-grid-img" src="../../../assets/Chart.png" alt="portfolio grid item img" srcset="">
                    <div class="see-more-container">
                        <a href="#" class="see-more">View in CodePen <i class="fa fa-link"></i></a>
                    </div>
                </div>
                <article class="portfolio-grid-article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non voluptatum iusto, tempora molestiae officia eveniet velit error aperiam, unde optio quas odit nesciunt? Nostrum quibusdam atque dolor a sunt vitae.</article>
            </div>
            <div class="portfolio-grid-item" id="portorig-5">
                <div class="img-and-link">
                    <img class="portfolio-grid-img" src="../../../assets/markdown.png" alt="portfolio grid item img" srcset="">
                    <div class="see-more-container">
                        <a href="#" class="see-more">View in CodePen <i class="fa fa-link"></i></a>
                    </div>
                </div>
                <article class="portfolio-grid-article">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto beatae ea non, debitis in accusantium maiores eligendi omnis iure esse enim, ad eum quod hic voluptas, fugit voluptatum numquam explicabo.</article>
            </div>
            <div class="portfolio-grid-item" id="portorig-6">
                <div class="img-and-link">
                    <img class="portfolio-grid-img" src="../../../assets/scatter.png" alt="portfolio grid item img" srcset="">
                    <div class="see-more-container">
                        <a href="#" class="see-more">View in CodePen <i class="fa fa-link"></i></a>
                    </div>
                </div>
                <article class="portfolio-grid-article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consectetur iusto exercitationem at labore aperiam omnis officiis, necessitatibus perspiciatis autem ullam voluptatum quibusdam libero maxime velit nemo inventore incidunt? Illo?</article>
            </div>
            <div class="portfolio-grid-item" id="portorig-7">
                <div class="img-and-link">
                    <img class="portfolio-grid-img" src="../../../assets/heatmap.png" alt="portfolio grid item img" srcset="">
                    <div class="see-more-container">
                        <a href="#" class="see-more">View in CodePen <i class="fa fa-link"></i></a>
                    </div>
                </div>
                <article class="portfolio-grid-article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laudantium repellendus repellat, tempora consequatur impedit. Id non vel magni totam? Veniam culpa natus cupiditate accusamus adipisci vitae minima eveniet nulla.</article>
            </div>
            <div class="portfolio-grid-item" id="portorig-8">
                <div class="img-and-link">
                    <img class="portfolio-grid-img" src="../../../assets/cloropleth.png" alt="portfolio grid item img" srcset="">
                    <div class="see-more-container">
                        <a href="#" class="see-more">View in CodePen <i class="fa fa-link"></i></a>
                    </div>
                </div>
                <article class="portfolio-grid-article">Lorem ipsum dolor sit amet consectetur adipisicing elit. A ullam ad harum architecto quas et dignissimos nesciunt saepe, quos, voluptate tempore quis alias aperiam reiciendis quasi! Soluta temporibus consectetur non?</article>
            </div>
            <div class="portfolio-grid-item" id="portorig-9">
                <div class="img-and-link">
                    <img class="portfolio-grid-img" src="../../../assets/moviesales.png" alt="portfolio grid item img" srcset="">
                    <div class="see-more-container">
                        <a href="#" class="see-more">View in CodePen <i class="fa fa-link"></i></a>
                    </div>
                </div>
                <article class="portfolio-grid-article">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio dolor iusto itaque deserunt, quasi voluptatem saepe accusamus nam aliquam cumque fugiat nostrum ratione at illo earum porro eaque vel corporis?</article>
            </div>
            <div class="portfolio-grid-item" id="portorig-10">
                <div class="img-and-link">
                    <img class="portfolio-grid-img" src="../../../assets/randomquote.png" alt="portfolio grid item img" srcset="">
                    <div class="see-more-container">
                        <a href="#" class="see-more">View in CodePen <i class="fa fa-link"></i></a>
                    </div>
                </div>
                <article class="portfolio-grid-article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor repellendus tenetur temporibus cum ipsam corporis tempore id blanditiis nihil. Nulla eveniet nihil expedita consectetur rerum est ducimus quia placeat sed.</article>
            </div>
        </div>
    </div>
</div>