<div id="about-container">
    <div id="about-title-container">
        <h1 id="about-title">About me</h1>
    </div>
    <div id="content-container">
        <div id="about-img-container">
            <div id="about-img">
                <img id="about-imgg" src="../../../assets/UNADJUSTEDNONRAW_thumb_107.jpg" alt="" srcset="">
            </div>
            <div id="about-img1">
                <img id="about-img11" src="../../../assets/maria1.jpg" alt="maria's picture" srcset="">
            </div>
        </div>
        <article id="about-article">Hi! My name is María Arias, I’m 18 years old, i’m learning how to code, I’ve started two years ago, and now I make website pages for fun. I’m still learning how to code, actually I think I’ll never end, because this world is like infinite, I don’t see the end line when I talk about programming. It’s fascinating to learn a new language, practice some exercises, make some fake web pages or practicing websites, it's exciting to see what this world of programming has to show you and what can you do to make it better.<br><br>Something that I love of programming is that I feel like there is no limit for imagination, it’s like if everything you could or can imagine a programmer can do it, one thing that accomplish this idea is animation, right now animation is trending and why not if it brings a website to life. <br><br>I think this world needs a change and I don’t wanna wait to someone else changes it, instead, I wanna be part of that change starting by myself, looking at my mirror every morning and see what I can do today to be a better person and to be my best version to everyone else around me, and, when I finish, probably the world would be better then.<br><br> I'm not a professional, i don't have a degree on this either, everything i know i've learned it practicing and in a bunch of courses on the internet, i want to have my degree in a future not so far i hope, but, in the meanwhile i'll keep learning, and keep making fake webpages, so when i start my path through the degree i'll have a way already tracked, so it will be a little bit easier then.<br><br> I've a lot to learn, so, see you in my free-time!</article>
    </div>
</div>