<section id="contact-container">
    <div id="contact-title-container">
        <h1 id="contact-title">Contact me</h1>
    </div>
    <div id="contact-banners-container">
        <div class="banners-container">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <p class="contact-p">Send me an email to mariajoseamir@gmail.com</p>
        <div class="banners-container">
            <i id="about-phone" class="fa fa-phone" aria-hidden="true"></i>
        </div>
        <p class="contact-p">Call (XXX)XXX-XXXX from 9a.m to 5p.m</p>
        <div class="banners-container">
            <a href="https://www.instagram.com/mariaarias306/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <p class="contact-p">Click on the icon to follow me!</p>
        <div class="banners-container">
            <a href="https://twitter.com/mariaarias306"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <p class="contact-p">Click on the icon to follow me!</p>
    </div>
</section>
